:root {}

#selfSence {
    width: 100%;
}

.infoBox {
    margin: 20px auto;
    width: 70%;
    height: fit-content;
    background-image: linear-gradient(45deg, var(--bg-box), var(--bg-box2));
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.infoDivImg {
    border-radius: 50%;
    flex-shrink: 0;
    width: fit-content;
    aspect-ratio: 1;
    overflow: hidden;
}

.infoDivImg>img {
    width: 70px;
}

.infoDivP {
    width: 100%;
    flex-shrink: 0;
}

#infoMyselfName {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: var(--text);
}

#infoMyselfUname {
    color: var(--text2);
}

#logoutBtn {}

#logoutBtn:hover {
    color: #fff;
    background-image: radial-gradient(#ff6262, #c40000);
}

#changeAvt {}

#changeAvt:hover {
    color: #fff;
    background-image: radial-gradient(#00bc0d, #00a552);
}


/* menu item của self */

.menuSelf {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.itemmenuSelf>i {
    margin: 0 10px;
}

.itemmenuSelf {
    cursor: pointer;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    color: var(--text);
    font-family: 'Nunito', sans-serif;
    background-image: radial-gradient(var(--box), var(--box));
    width: 48%;
    margin-bottom: 10px;
}


/* Đổi avt */

#filterChangeAvt {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000090;
    z-index: 99;
}

#boxChangeAvt {
    position: relative;
    margin: auto;
    width: 500px;
    min-height: 190px;
    height: fit-content;
    background-color: var(--bg-box);
    border-radius: 30px;
    color: var(--text);
    font-family: 'Nunito', sans-serif;
}

#boxChangeAvt>p {
    font-size: 1.4rem;
    padding: 20px 0 5px 20px;
}

.boxInputChangeAvt {
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

#inputChangeAvt {
    color: var(--text);
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: auto;
    height: fit-content;
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    border-radius: 20px;
    background-color: var(--border);
    border: 0;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
}

#previewAvt {
    margin: auto;
    width: 70%;
    aspect-ratio: 1;
    margin-bottom: 80px;
}

#noiceChangeAvt {
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 1rem!important;
    font-style: italic;
    color: #ff0000;
}

#comformChangeAvt,
#cancelChangeAvt {
    cursor: pointer;
    background-color: var(--box);
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#cancelChangeAvt {
    right: 120px;
}

#cancelChangeAvt:hover {
    position: absolute;
    color: #fff;
    background-color: #c80000;
}

#comformChangeAvt:hover {
    position: absolute;
    color: #fff;
    background-color: #00c80d;
}

@media only screen and (max-width: 1000px) {
    .infoBox {
        width: 85%;
    }
    .menuSelf {
        flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .itemmenuSelf {
        width: 85%;
    }
}

@media only screen and (max-width: 700px) {
    .infoBox {
        width: 100%;
        flex-wrap: wrap;
    }
    .menuSelf {
        flex-wrap: wrap;
    }
    .itemmenuSelf {
        width: 95%;
    }
}